<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Ana Sayfa</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<style>
th, td {
	padding-right: 10px;
}
</style>
<body>
	<div class="container">
		<a href="/sabitMetin"><button class="btn btn-primary ml-2 mt-2">Açıklamalar</button></a>
		<a href="/giris"><button class="btn btn-primary ml-2 mt-2">Kullanıcı
				Oluştur</button></a>
		<table th:if="${not #lists.isEmpty(people)}" class="ml-2">
			<thead>
				<tr>
					<th>Ad</th>
					<th>Soyad</th>
					<th>Sil</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="person: ${people}">
					<td><a th:text="${person.name}" /></td>
					<td><a th:text="${person.surname}" /></td>
					<td>
						<form th:action="@{/delete}" method="post">
							<input type="hidden" id="id" name="id" th:value="${person.id}" />
							<input type="submit" class="btn btn-danger" value="Sil" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<h6 th:if="${#lists.isEmpty(people)}" class="ml-2 mt-3">Kullanıcı
			Yok</h6>
	</div>

</body>

</html>
